
/* ベースのスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding-top: 70px;
}

/* ヘッダーのベーススタイル */
header {
  background-color: #041292; /* ダークカラーの背景 */
  padding: 2px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  position: fixed; /* 左上に固定 */
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* ロゴとメニューの間隔を調整 */
  padding: 0px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: nowrap; /* メニューを1行に固定 */
  white-space: nowrap; /* テキストの折り返しを防止 */
  margin-right:60px;
  margin-left:0px;
}

header nav ul li {
  padding:5px;
  position: relative;
  flex-shrink: 0; /* アイテムが縮小されないようにする */
}

header nav ul li a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none; /* テキストに下線や取り消し線を追加する */
  font-family: 'Montserrat', sans-serif; /* モダンなフォント */
  padding: 6px 12px;
  transition: color 0.3s ease, background 0.3s ease;
  border-radius: 5px;
}


.header-logo {
  max-height: 60px; /* ロゴの高さを調整 */
  margin-right: 0px;
  
}


/* ホバー効果 */
header nav ul li a:hover {
  background-color: #ff6b6b; /* マウスをかざしたときの動作 */
  color: #ffffff;
}

/* ドロップダウンメニューのスタイル */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(-20deg, #d558c8 0%, #041292 100%); /* ドロップダウン背景色 */
  color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8); /* 影を追加 */
  width: 220px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.dropdown-content a {
  color: #f1f1f1;
  padding: 12px 20px;
  text-decoration: none;
  display: block; /* ブロック要素 */
  font-size: 1rem;
  transition: background 0.3s ease, padding-left 0.3s ease;
  font-family: 'Roboto', sans-serif; /* 柔らかい印象のフォント */
}

.dropdown-content a:hover {
  background-color: #0a98c4e5; /* ダークグレーのホバー背景 */
  /* color: #f1c15a; ホバー時にサーモンピンク */
  padding-left: 3vw; /* ホバー時に少し左にインデント */
  text-decoration:underline;
  font-weight:bold;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: dropdownFadeIn 0.3s ease;
}


/* Heroセクション */
#hero {
  overflow: hidden;
  position: relative;
  background: #333;
  color: white;
  padding: 1.5rem 1rem;
  text-align: center;
  white-space: nowrap; /* テキストの折り返しを防止 */
  height: 15vh; /* ビューポート高さの80%に設定 */
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;/* 背景画像の上端を0に設定 */
  left: 0;
  width: 100%;
  height:100%;
  background-image: url('image/header_btm.jpg'); /* 背景画像を指定 */
  background-size: 100% 100%; /* 横幅・縦幅を100%に固定 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-position: center; /* 中央揃え */
  opacity: 0;
  transform: translateY(0); /* 垂直方向のズレをリセット */
  transform: scale(0.8); /* 初期状態で縮小 */
  animation: zoomIn 2s forwards; /* ズームインアニメーション */
}

#hero h1, #hero p, #modalBtn {
  position: relative;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 2s forwards; /* 表示タイミングを遅延 */
}

#modalBtn {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

/* モーダルウィンドウ */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 背景のスクロールを防止 */
  z-index: 100; /* 他の要素の上に表示 */
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 80%;
  max-height: 80vh; /* モーダルの高さを画面の80%に制限 */
  overflow-y: auto; /* モーダル内で縦スクロールを許可 */
  position: relative;
  text-align: center;
  border-radius: 8px;
}

.modal-slide-in .modal-content {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.modal-slide-in.show .modal-content {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}
/* フォームの設定 */
#attendanceForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#attendanceForm label {
  margin-top: 10px;
}

#attendanceForm input,
#attendanceForm select,
#attendanceForm textarea {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#attendanceForm button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#attendanceForm button:hover {
  background-color: #e55a5a;
}

/* スライドショーのスタイル */
#slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  width: 80%;
  max-width: 800px;
  position: relative;
}

#slide-image-container {
  display: flex;
  align-items: center; /* 子要素を中央揃え */
  justify-content: center; /* 横方向の調整（念のため） */
  position: relative;
  height: 50vh; /* 必要な高さを設定 */
}

#slide-image {
  display: block;
  max-height: 100%; /* 高さを親要素にフィットさせる */
  width: auto;/* 縦横比を維持 */
}

#slide-image-container img {
  transition: transform 0.3s ease-in-out;
}

#slide-image-container img:hover {
  transform: scale(1.1);
}

#prevBtn,
#nextBtn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

/* インジケーターのスタイル */
#slide-indicator {
  display: flex;
  justify-content:flex-end ; /* インジケータを右揃え */
  position: absolute; /* 画像内での絶対配置 */
  bottom: 5px; /* 画像の下部に配置 */
  right: 5px; /* 右端からの距離 */
  transform: translateX(-50%); /* 左端基準を中央基準に調整 */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明に設定 */
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10; /* 他の要素の上に表示 */
}

.indicator {
  width: 10px; /* 長方形の横幅 */
  height: 5px; /* 長方形の高さ */
  background-color: #ddd;
  border-radius: 2px; /* 角を少し丸める */
  margin: 0 3px;
  cursor: pointer;
}

.indicator.active {
  background-color: red; /* アクティブなインジケータを赤色に */
}

/* 新着情報セクション */
#news {
  margin: 10px;
}

#news-container {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 10px;
}

.news-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.news-item:last-child {
  border-bottom: none;
}

footer {
  background-color: #041292; /* フッターの背景色 */
  color: white;
  text-align: center;
  padding: 10px;
  height: 90px; /* フッターの高さ */
  flex-shrink: 0; /* 高さを固定 */
  white-space: nowrap; /* テキストの改行を防止 */
  overflow: hidden; /* 長すぎるテキストを隠す */
}

/* スマートフォンでの表示 */
@media (max-width: 600px) {
  html{
   font-size:0.9rem; 
  }
  body {
    display: flex;
    flex-direction: row; /* ヘッダーとコンテンツを横並びに */
    height: 100vh; /* 画面全体の高さを使用 */
    margin: 0;
    overflow: hidden;
    padding-top: 0px;
  }
  main {
    margin-left: 150px; /* ヘッダーの幅分を確保 */
    flex: 1; /* メインコンテンツが残りのスペースを使用 */
    overflow-y: auto; /* 縦スクロールを有効化 */
    padding: 0px; /* コンテンツに余白を追加 */
    background-color: #f9f9f9; /* 背景色を設定 */
  }
  footer {
    width: 100%; /* フッターを横幅全体に */
    height: 70px; /* 固定の高さ */
    background-color: #041292; /* フッターの背景色 */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    position: absolute; /* フッターを下部に固定 */
    bottom: 5px;
    z-index: 1001;
  }

  header {
    width: 155px; /* ヘッダーの幅 */
    background-color: #041292; /* ヘッダーの背景色 */
    color: white;
    display: flex;
    flex-direction: column; /* ヘッダー内の要素を縦並び */
    height: 100vh; /* ヘッダーを画面全体の高さに */
    position: fixed; /* 左側に固定 */
    top: 0;
    left: 0;
    z-index: 1000; /* ヘッダーが前面に表示されるように */
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-logo {
    transform: scale(0.7); /* サイズを80%に縮小 */
    transform-origin: center left; /* 縮小基準を左側に設定 */
    margin-left: 0; /* 左寄せにする */
    padding: 0; /* 余白を削除 */
    display: block; /* 左寄せを確実に適用 */
  }
  header nav ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-grow: 1; /* 高さを最大化 */
  }

  header nav ul li {
      margin: 0;
      text-align: center;
  }

  header nav ul li a {
      color: white;
      text-decoration: none;
      padding: 15px 10px;
      display: block;
  }
  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none; /* デフォルトで非表示 */
    position: absolute;
    top: 0; /* ヘッダーの上端に揃える */
    left: 155px; /* 左端から155pxに配置 */
    background: linear-gradient(-20deg, #d558c8 0%, #041292 100%);
    color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
    width: 170px;
    border-radius: 8px;
    overflow: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10000;
  }
  .dropdown-content a {
    padding: 3px 5px;
    text-decoration: none;
  }
    .dropdown:hover .dropdown-content,
  .dropdown-content:hover {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  /* ホバーエリアの拡張 */
  .dropdown:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%; /* 親要素の右端 */
    width: 220px; /* ギャップを埋める幅 */
    height: 100%; /* 高さを合わせる */
    z-index: 999; /* メニューよりも背面に設定 */
  }  
  #hero h1, #hero p{
    display:none;
    color:#ffffff00;
  }
  #modalBtn {
    margin-top: 30px;
  }
  #slide-image-container {
    height: 30vh; /* 必要な高さを設定 */
  }
  #slide-indicator {
    right: 10px; /* 小さな画面では固定値を使用 */
    bottom: 10px; /* 画像内の適切な下位置を確保 */
    transform: none; /* 中央基準の調整を解除 */
    justify-content: flex-end; /* 右寄りに配置 */
    width: auto; /* 必要な幅に調整 */
    padding: 5px; /* コンパクトな余白 */
  }
  .modal-content {
    width: calc(100% - 155px); /* ヘッダーの幅(155px)を差し引いた幅に設定 */
    margin-left: 155px; /* ヘッダー分のスペースを確保 */
    max-width: none; /* モーダルの最大幅制限を解除 */
  }
  #attendanceForm {
    width: 100%; /* フォーム全体をモーダルにフィットさせる */
    padding: 10px; /* 余白を適度に確保 */
  }
  #attendanceForm input,
  #attendanceForm select,
  #attendanceForm textarea {
    width: 100%; /* 入力フィールドの幅をモーダルいっぱいに広げる */
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}  


  


/* フェードインアニメーション */
@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8); /* 初期状態を縮小 */
    opacity: 0; /* 初期状態で透明 */
  }
  to {
    transform: scale(1); /* 通常サイズへ */
    opacity: 1; /* 完全に表示 */
  }
}

@keyframes fadeInOpacity {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
